.st-key-select-box [data-testid="stSelectbox"]{
    padding: 1px;
    border-radius: 10px; 
    border: 1px solid #FF2DD1;
    margin-top: 5px;
    margin-bottom: 5px;
}

.st-key-fdr-metric div[data-testid="stMetric"]{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #FF2DD1;
    background: #2A2A3A;
    border-radius: 10px
}

.st-key-fdr-metric div[data-testid="stMetric"] label{
    text-align: center !important;
    width: 100%;
    display: block;
}

.st-key-fdr-metric div[data-testid="stMetricValue"]{
    text-align: center !important;
}

.st-key-fdr-metric [data-testid="stMetricDelta"] svg{
    display: none;
}

.st-key-fdr-metric [data-testid="stMetricDelta"]{
    font-weight: bold !important;
    text-align: center !important;
    display: flex;
    justify-content: center;
}

.st-key-metric-flex {
    display: flex;
    flex-direction: row;       
    align-items: center;       
    justify-content: center;  
    gap: 1.5rem;
    height: 92px;
        
}

.st-key-fdr-one [data-testid="stMetric"] {
    background-color: #364725;
    height: 92px;
    border-radius: 10px; 
}

.st-key-fdr-one [data-testid="stMetric"] label{
    text-align: center !important;
    width: 100%;
    display: block;
}

.st-key-fdr-one [data-testid="stMetricValue"]{
    text-align: center !important;
}

.st-key-fdr-two [data-testid="stMetric"] {
    background-color: #07f978;
    height: 92px;
    border-radius: 10px; 
}

.st-key-fdr-two div[data-testid="stMetric"] label{
    text-align: center !important;
    width: 100%;
    display: block;
}

.st-key-fdr-two div[data-testid="stMetricValue"]{
    text-align: center !important;
}

.st-key-fdr-three [data-testid="stMetric"] {
    background-color: #DDDDDD;
    height: 92px;
    border-radius: 10px; 
}

.st-key-fdr-three div[data-testid="stMetric"] label{
    color: black;
    text-align: center !important;
    width: 100%;
    display: block;
}

.st-key-fdr-three div[data-testid="stMetricValue"]{
    color: black;
    text-align: center !important;
}

.st-key-fdr-four [data-testid="stMetric"]{
    background-color: #f91952;
    height: 92px;
    border-radius: 10px; 
}

.st-key-fdr-four div[data-testid="stMetric"] label{
    text-align: center !important;
    width: 100%;
    display: block;
}

.st-key-fdr-four div[data-testid="stMetricValue"]{
    text-align: center !important;
}

.st-key-fdr-five [data-testid="stMetric"] {
    background-color: #800a30;
    height: 92px;
    border-radius: 10px; 
}

.st-key-fdr-five div[data-testid="stMetric"] label{
    text-align: center !important;
    width: 100%;
    display: block;
}

.st-key-fdr-five div[data-testid="stMetricValue"]{
    text-align: center !important;
}